@mixin p-normal() {
    font-weight: 400;
    font-size: 20px;
    color: $white;
    line-height: 24.4px;
  }

  @mixin p-small($color) {
    font-weight: 400;
    font-size: 17px;
    color: $color;
    line-height: 24.14px;
    letter-spacing: -1%;
  }

  @mixin p-big($color) {
    font-weight: 700;
    font-size: 23px;
    color: $color;
    line-height: 28.06px;
  }