$white: #FFF;
$black: #1B1F2B;

$orange-100: #F8E6BE;
$orange-200: #EFA501;

$green-100: #E0F0E5;
$green-200: #627F7E;
$green-300: #3B7E7B;
$green-400: #286562;

$beige-100: #F9F7F4;
$beige-200: #F4F0E9;

$gray-100: #F1F3F2;
$gray-200: #D9DFDB;
$gray-300: #A6A6A6;
