.header {
    &__nav-list {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 1024px) {
            gap: 30px;
        }

        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    &__nav-link {
        position: relative;
        text-decoration: none;
        cursor: pointer;
        @include p-normal();
        color: $white;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 1px;
            background-color: $white;
            @include transition(width, 0.5s);
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }
    }
}
