.header {
    &__nav-list {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 1024px) {
            gap: 30px;
        }

        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    &__phone-link {
        all: unset;
    }

    &__nav-link,
    &__phone {
        position: relative;
        text-decoration: none;
        cursor: pointer;
        @include p-normal;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 1px;
            background-color: $white;
            transition: width 0.5s;
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }

        @media screen and (max-width: 390px) {
            @include p-normal-m;
        }
    }

    .header__logo {
        width: 181.84px;
        height: 30.24px;
        background: url(/assets/icons/YourTour.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (max-width: 800px) {
            width: 133px;
            height: 22px;
            background: url(/assets/icons/YourTour-small.svg);
        }
    }
}
