.tours__card {
    position: relative;
    height: 531px;
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.06) 48.44%,
            rgba(0, 0, 0, 0.5) 100%
        );
        z-index: 1;
    }

    &:hover {
        .tours__card-image {
            transform: scale(1.2);
        }
        .tours__button-type-more {
            background-color: $green-400;
        }
    }

    &:active .tours__button-type-more {
        background-color: $orange-200;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: 450px;
        max-height: 531px;
    }

    @media screen and (max-width: 360px) {
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }

    &-info {
        padding: 50px 50px 0;
        width: min(100%, 200px);
        height: 126px;
        z-index: 2;

        @media screen and (max-width: 1024px) {
            width: auto;
            max-width: 350px;
        }

        @media screen and (max-width: 360px) {
            padding: 25px 25px 0;
        }
    }

    &-title {
        @include h3();
        text-align: start;
        color: $white;

        @media screen and (max-width: 360px) {
            @include h3-m();
            color: $white;
            text-align: start;
        }
    }

    &-price {
        @include p-small($white);
        color: $white;
        margin-top: 16px;

        @media screen and (max-width: 360px) {
            @include p-small-m();
            margin-top: 14px;
        }
    }

    &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        inset: 0;
        @include transition(transform, 0.3s);
    }
}
