.comments__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
    height: 593px;
    border-radius: 50px;
    padding: 40px;
    background-color: $beige-200;

    @media screen and (max-width: 1200px) {
        max-width: fit-content;
        height: 761px;
    }

    @media screen and (max-width: 950px) {
        width: 600px;
    }

    @media screen and (max-width: 550px) {
        border-radius: 20px;
        padding: 20px;
        height: fit-content;
    }
}
