.comments__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
    height: 593px;
    border-radius: 50px;
    padding: 40px;
    background-color: $beige-200;

    @media screen and (max-width: 1200px) {
        max-width: fit-content;
        height: 761px;
    }

    @media screen and (max-width: 950px) {
        width: 600px;
    }

    @media screen and (max-width: 550px) {
        border-radius: 20px;
        padding: 20px;
        height: fit-content;
    }

    &-info {
        @include p-big($black);
        display: flex;
        flex-direction: column;
        gap: 28px;

        @media screen and (max-width: 1200px) {
            max-width: 370px;
        }

        @media screen and (max-width: 550px) {
            @include p-big-m();
            gap: 23px;
        }
    }

    &-wrap {
        margin-top: 100px;
        display: flex;
        gap: 30px;

        @media screen and (max-width: 1200px) {
            gap: 18px;
        }

        @media screen and (max-width: 950px) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 550px) {
            margin-top: 50px;
            max-width: 318px;
            flex-direction: column;
        }
    }
}
