.comments__description {
    margin: auto;
    margin-top: 30px;
    width: 400px;
    text-align: center;
    @include p-normal();
    color: $gray-300;

    @media screen and (max-width: 550px) {
        margin-top: 19px;
        max-width: 318px;
        @include p-normal-m();
        color: $gray-300;
    }
}
