.contact {
    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 371px;
    }

    &__title {
        @include h3;
        color: $black;
        text-align: start;

        @media screen and (max-width: 800px) {
            text-align: center;
        }

        @media screen and (max-width: 400px) {
            @include h3-m;
            width: 318px;
            margin: auto;
        }
    }
}
