.intro__button {
    @include p-small($black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 34px;
    border: none;
    background-color: $white;
    @include transition(all, 0.3s);
    cursor: pointer;

    &:hover {
        background-color: $orange-200;
        color: $white;
    }

    &:active {
        background-color: $orange-100;
    }

    @media screen and (max-width: 650px) {
        @include p-small-m();
        margin-top: 12px;
    }

    @media screen and (max-width: 360px) {
        @include p-small-m();
        margin-top: 12px;
    }
}
