.intro__subtitle {
    width: 562px;
    height: 56px;
    @include p-normal();
    text-align: center;

    @media screen and (max-width: 1024px) {
        max-width: 400px;
    }

    @media screen and (max-width: 650px) {
        width: 310px;
        @include p-normal-m();
    }

    @media screen and (max-width: 360px) {
        width: 310px;
        @include p-normal-m();
    }
}
