.comments__info {
    @include p-big($black);
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media screen and (max-width: 1200px) {
        max-width: 370px;
    }

    @media screen and (max-width: 550px) {
        @include p-big-m();
        gap: 23px;
    }
}
