.form__textarea {
    margin: 33px auto;
    padding: 0 70px;
    width: min(100% - 140px, 1030px);
    min-height: 188px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 1024px) {
        padding: 0 60px;
        margin: 33px 0;
    }

    @media screen and (max-width: 800px) {
        padding: 0 40px;
        width: min(100% - 80px, 1030px);
    }

    @media screen and (max-width: 470px) {
        margin-top: 28px;
        padding: 0;
        margin-bottom: 0;
        height: 163px;
        width: 278px;
    }

    &-field {
        height: 110px;
        padding: 20px;
        @include p-normal();
        font-family: Roboto;
        color: $black;
        border-radius: 10px;
        border: 1px solid $beige-200;
        background-color: $beige-100;
        @include transition(all, 0.3s);
        cursor: pointer;
        outline: none;
        resize: none;

        &:focus {
            border: 1px solid $gray-300;
        }

        @media screen and (max-width: 470px) {
            @include p-normal-m();
            color: $black;
            border-radius: 10px;
            padding: 10px;
        }
    }
}
