.gallery__title {
    margin: 0 auto;
    width: fit-content;
}

.gallery__heading {
    @include h2();
    text-align: center;

    @media screen and (max-width: 670px) {
        @include h2-m();
        width: 318px;
    }
}

.gallery__description {
    margin: 30px auto 0;
    @include p-normal();
    color: $gray-300;
    text-align: center;
    width: 400px;

    @media screen and (max-width: 670px) {
        @include p-normal-m();
        margin-top: 19px;
        color: $gray-300;
        width: 318px;
    }
}
