.comments {
    &__title {
        margin: 0 auto;
        width: fit-content;
    }

    &__heading {
        @include h2;
        width: 529px;

        @media screen and (max-width: 550px) {
            @include h2-m;
            max-width: 318px;
        }
    }

    &__description {
        margin: auto;
        @include p-normal;
        color: $gray-300;
        text-align: center;
        margin-top: 30px;
        width: 400px;

        @media screen and (max-width: 550px) {
            @include p-normal-m;
            color: $gray-300;
            margin-top: 19px;
            max-width: 318px;
        }
    }
}
