.tours {
    width: min(100%, 1170px);
    margin: 0 auto;

    &__title {
        @include h2;
        margin-bottom: 35px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        max-width: 1170px;
        margin: 0 auto;
    }

    &__link-item {
        @include p-big($black);
        text-decoration: none;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background-color: $black;
            transition: width 0.5s;
        }

        &:hover:after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0px;
            bottom: -5px;
            height: 2px;
        }
    }

    &__link-active .tours__link-item {
        color: $orange-200;
        padding-bottom: 3px;
        border-bottom: 2px solid $orange-200;

        &:hover {
            padding-bottom: 3px;
            border-bottom: 2px solid $orange-200;
        }

        &:after {
            display: none;
        }

        &:hover:after {
            display: none;
        }
    }

    &__button-icon {
        width: 24px;
        height: 24px;
        background: url(/yourtour/assets/icons/arrow\ bt.svg);
    }

    &__content {
        margin: 106px auto 0;
        width: min(100%, 1170px);
        min-height: 1092px;
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 531px;
        width: min(100%, 370px);
        flex: 0 1 370px;
        border-radius: 50px;
        cursor: pointer;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
                360deg,
                rgba(0, 0, 0, 0.4) 0%,
                rgba(0, 0, 0, 0.06) 48.44%,
                rgba(0, 0, 0, 0.5) 100%
            );
            z-index: 1;
        }

        &:hover .tours__card-image {
            transform: scale(1.2);
        }

        &:hover .tours__button-more {
            background-color: $green-400;
        }

        &:active .tours__button-more {
            background-color: $orange-200;
        }
    }

    &__card-info {
        padding: 50px 50px 0 50px;
        width: min(100%, 200px);
        height: 126px;
        z-index: 2;
    }

    &__card-title {
        @include h3;
        text-align: start;
        color: $white;
    }

    &__card-price {
        @include p-small($white);
        margin-top: 16px;
    }

    &__footer {
        padding: 30px;
        margin-bottom: 12px;
        z-index: 2;
    }

    &__button-more {
        font-weight: 700;
        font-size: 22px;
        color: $white;
        line-height: 28.06px;
        background-color: inherit;
        border: none;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        border-radius: 50px;
        gap: 15px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    &__card-image {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    @media screen and (max-width: 1024px) {
        &__content {
            width: min(100%, 918px);
            min-height: 1629px;
            gap: 18px;
            padding: 0 max(0px, calc((100% - 918px) / 2));
        }

        &__card {
            width: min(100%, 450px);
            flex: 0 1 450px;
        }

        &__card-info {
            width: min(100%, 350px);
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0;

        &__content {
            width: min(100%, 600px);
            gap: 15px;
        }

        &__card {
            width: min(100%, 400px);
            flex: 0 1 400px;
            height: 450px;
        }
    }

    @media screen and (max-width: 600px) {
        &__title {
            @include h2-m;
            margin-bottom: 30px;
        }

        &__link-item {
            @include p-big-m;
        }

        &__list {
            width: 277px;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
        }
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        width: 360px;
        padding: 0;

        &__title {
            @include h2-m;
            margin-bottom: 30px;
        }

        &__link-item {
            @include p-big-m;
        }

        &__list {
            width: 277px;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
        }

        &__content {
            width: 318px;
            height: 1998px;
            margin-top: 49px;
            gap: 18px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
        }

        &__card {
            height: 318px;
            width: 318px;
        }

        &__card-title {
            @include h3-m;
            text-align: start;
            color: $white;
        }
        &__card-price {
            @include p-small-m;
            margin-top: 14px;
        }
        &__card {
            border-radius: 20px;
        }

        &__card-info,
        &__footer {
            padding: 25px;
            padding-top: 26px;
            margin-bottom: 0px;
        }
        &__button-more {
            @include p-big-m;
            letter-spacing: -0.4px;
            padding: 0;
        }
    }
}
