.tours {
    width: min(100%, 1210px);
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        padding: 0;
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        width: 360px;
        padding: 0;
    }
}
