.tours {
    width: min(100%, 1170px);
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        padding: 0;
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        width: 360px;
        padding: 0;
    }
}

@import "./__title/tours__title";
@import "./__list/tours__list";
@import "./__content/tours__content";
@import "./__card/tours__card";
@import "./__button/tours__button";
@import "./__footer/tours__footer";
