.gallery__group-photo-type-third {
    width: 23.8%;

    @media screen and (max-width: 1024px) {
        width: 32%;
        &:nth-child(4) {
            display: none;
        }
    }

    @media screen and (max-width: 800px) {
        width: calc(100% - 60px);
        &:nth-child(3),
        &:nth-child(4) {
            display: none;
        }
    }

    @media screen and (max-width: 400px) {
        width: 154px;
        height: 110px;
        gap: 10px;
    }
}
