.footer__link {
    height: 28px;
    cursor: pointer;

    &:active .footer__link-text {
        color: $orange-200;

        &:after {
            background-color: $orange-200;
        }
    }

    @media screen and (max-width: 400px) {
        gap: 5px;
    }

    &-wrap {
        display: flex;
        gap: 30px;
        width: 408px;

        @media screen and (max-width: 400px) {
            gap: 10px;
            width: 307px;
            justify-content: space-between;
        }
    }

    &-icon {
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: end;
        background-size: contain;

        &-telegram {
            background-image: url(/yourtour/assets/img/Vector.png);
            background-position: center;
        }

        &-facebook {
            background-image: url(/yourtour/assets/img/fb\(1\).png);
        }

        &-vk {
            background-image: url(/yourtour/assets/img/vk.png);
        }

        @media screen and (max-width: 400px) {
            &-telegram {
               width: 18px;
               height: 18px;
               background-position: end;
            }
        }
    }

    &-text {
        @include p-normal();
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        color: $black;
        text-decoration: none;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: $black;
            @include transition(width, 0.5s);
        }

        &:hover:after {
            content: "";
            width: 73%;
            position: absolute;
            left: 34px;
            bottom: -2px;
            height: 1px;
        }

        @media screen and (max-width: 400px) {
            @include p-normal-m();
            color: $black;
            gap: 5px;

        }
    }
}
