.intro__title {
    width: 768px;
    height: 315px;
    text-align: center;
    @include h1();
    color: $white;

    @media screen and (max-width: 650px) {
        width: 310px;
        height: 114px;
        @include h1-m();
        color: $white;
    }

    @media screen and (max-width: 360px) {
        width: 310px;
        height: 114px;
        @include h1-m();
        color: $white;
    }
}
