.category {
    max-width: fit-content;
    margin: 0 auto;

    &__title {
        @include h2;
        margin-bottom: 35px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__link-item {
        @include p-big($black);
        text-decoration: none;

        &:hover {
            padding-bottom: 3px;
            border-bottom: 2px solid $black;
        }
    }

    &__link-active .category__link-item {
        color: $orange-200;
        padding-bottom: 3px;
        border-bottom: 2px solid $orange-200;
        &:hover {
            padding-bottom: 3px;
            border-bottom: 2px solid $orange-200;
        }
    }

    &__content {
        margin-top: 106px;
        width: 1170px;
        height: 1092px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 531px;
        width: 370px;
        border-radius: 50px;
        cursor: pointer;
        overflow: hidden;
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.06) 48.44%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }

    &__info {
        padding: 50px 50px 0 50px;
        width: 200px;
        height: 126px;
    }

    &__item-title {
        @include h3;
        text-align: start;
        color: $white;
    }

    &__item-price {
        @include p-small($white);
        margin-top: 16px;
    }

    &__footer {
        padding: 30px;
        margin-bottom: 12px;
    }

    &__button-more {
        font-weight: 700;
        font-size: 22px;
        color: $white;
        line-height: 28.06px;
        background-color: inherit;
        border: none;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        border-radius: 50px;
        gap: 15px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    &__item-image {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    &:hover .category__item-image {
        transform: scale(1.2);
    }
    &:hover .category__button-more {
        background-color: $green-400;
    }
    &:active .category__button-more {
        background-color: $orange-200;
    }

    @media screen and (max-width: 1024px) {
        &__content {
            grid-template-rows: repeat(3, 531px);
            grid-template-columns: repeat(2, 450px);
            gap: 18px;
        }
    }

    @media screen and (max-width: 360px) {
        padding-top: 75px;
        pointer-events: none;
        &__header {
            h2 {
                @include h2-m;
            }
            a {
                @include p-big-m;
            }
            ul {
                max-width: 277px;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__content {
            margin-top: 50px;
            grid-template-rows: repeat(6, 318px);
            grid-template-columns: repeat(1, 318px);

            h3 {
                @include h3-m;
                text-align: start;
                color: $white;
            }
            p {
                @include p-small-m;
            }
        }

        &__item {
            border-radius: 20px;
        }
        &__info,
        &__footer {
            padding: 25px;
            margin-bottom: 0px;
        }
        &__button {
            button {
                @include p-big-m;
                padding: 0;
            }
        }
    }
}
