.comments {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 20px 0 20px;

    &__title {
        margin: 0 auto;
        width: fit-content;
    }
    &__heading {
        @include h2;
        width: 529px;
    }

    &__description {
        margin: auto;
        @include p-normal;
        color: $gray-300;
        text-align: center;
        margin-top: 30px;
        width: 400px;
    }

    &__wrap {
        margin-top: 100px;
        display: flex;
        gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 570px;
        height: 593px;
        border-radius: 50px;
        padding: 40px;
        background-color: $beige-200;
    }

    &__info {
        @include p-big($black);
    }

    &__profile {
        display: flex;
        justify-content: space-between;
    }

    &__profile-name {
        @include h3;
        color: $black;
        text-align: left;
    }
    &__profile-tour {
        @include p-small($gray-300);
        margin-top: 8px;
    }

    &__profile-image {
        width: 75px;
        height: 75px;
        border-radius: 100px;
    }

    @media screen and (max-width: 1024px) {
        &__wrap {
            gap: 18px;
        }
        &__info {
            max-width: 370px;
        }

        &__item {
            max-width: fit-content;
            height: 761px;
        }
    }

    @media screen and (max-width: 360px) {
        max-width: 318px;

        &__heading {
            @include h2-m;
            max-width: 318px;
        }
        &__description {
            @include p-normal-m;
            color: $gray-300;
            margin-top: 19px;
            max-width: 318px;
        }

        &__wrap {
            margin-top: 50px;
            max-width: 318px;
            flex-direction: column;
        }
        &__item {
            border-radius: 20px;
            padding: 20px;
            height: fit-content;
        }
        &__info {
            @include p-big-m;
        }

        &__profile {
            margin-top: 40px;
            align-items: end;
        }

        &__profile-name {
            @include h3-m;
            text-align: start;
        }
        &__profile-tour {
            margin-top: 8px;
            @include p-small-m;
        }
    }
}
