.contact {
    max-width: fit-content;
    margin: 0 auto;

    &__wrap {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__image {
        height: 370px;
        width: 370px;
        border-radius: 50px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 22px;
        width: 371px;
    }
    &__title {
        @include h3;
        color: $black;
        text-align: start;
    }

    &__text {
        @include p-normal;
        color: $gray-300;
    }

    &__email {
        color: $black;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        &:active {
            color: $orange-200;
        }
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        margin-top: 75px;
        &__wrap {
            flex-direction: column;
        }
        &__img {
            height: 133px;
            width: 130px;
        }

        &__info {
            h3 {
                @include h3-m;
            }

            p {
                @include p-normal-m;
                color: $gray-300;
                text-align: center;
            }
        }
    }
}
