.contact {
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 135px;
    &__wrap {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-weight: 500;
            font-size: 35px;
            line-height: 42.7px;
            color: $black;
        }

        p {
            @include p-normal;
            color: $gray-300;
        }

        span {
            color: $black;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
            &:active {
                color: $orange-200;
            }
        }
    }
}
