.contact {
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 135px;
    &__wrap {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            @include h3-m;
            color: $black;
            text-align: start
        }

        p {
            @include p-normal;
            color: $gray-300;
        }

        a {
            color: $black;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
            &:active {
                color: $orange-200;
            }
        }
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        margin-top: 75px;
        &__wrap {
            flex-direction: column;
        }
        &__img {
            height: 133px;
            width: 130px;
        }

        &__info {
            h3 {
               @include h3-m;
            }

            p {
                @include p-normal-m;
                color: $gray-300;
                text-align: center;
            }
        }
    }
}
