.footer {
    margin-top: 135px;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $beige-200;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1168px;
    }

    &__social {
        p {
            @include p-normal;
            color: $gray-300;
        }
    }

    &__links {

        display: flex;
        gap: 25px;
    }

    &__link {

        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &:active a {
            color: $orange-200;
        }

        a {
            @include p-normal;
            position: relative;
            color: $black;
            text-decoration: none;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0px;
                width: 0;
                height: 1px;
                background-color: $black;
                transition: width 0.5s;
            }

            &:hover:after {
                content: "";
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0px;
                height: 1px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        &__wrap {
            max-width: 918px;
          }
    }

    @media screen and (max-width: 360px) {
        margin-top: 75px;
        height: 95px;
        pointer-events: none;

        &__wrap {
            max-width: 317px;
            flex-direction: column;
            gap: 7px;
          }

          &__social {
            p {
                @include p-normal-m;
                color: $gray-300;
            }
        }

        &__links {
            gap: 15px;
        }

        &__link {
            gap: 5px;

            a {
                @include p-normal-m;
                color: $black;
            }
        }
    }
}
