.form {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 135px;

    &__header {
        h2 {
            @include h2;
            margin-bottom: 30px;
        }

        p {
            @include p-normal;
            color: $gray-300;
            text-align: center;
        }
    }

    &__wrap {
        margin: 0 auto;
        margin-top: 100px;
        background-color: $white;
        border-radius: 50px;
        padding: 70px;
        max-width: 1170px;

        label {
            @include p-normal;
            color: $black;
        }
    }

    &__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &__input {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        input,
        select {
            @include p-normal;
            appearance: none;
            color: $black;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $beige-200;
            background-color: $beige-100;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                background-color: $beige-200;
            }
            &:focus {
                border: 1px solid $gray-300;
            }
        }

        select {
            color: $gray-300;


            option {
                color: $black;
            }
        }

        img {
            position: absolute;
            top: 51px;
            right: 17px;
            width: 26px;
            height: 26px;
            background-image: url(/assets/icons/ic-dropdown.svg);
            cursor: pointer;
            pointer-events: none;
        }
    }

    &__texarea {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        textarea {
            @include p-normal;
            font-family: Roboto;
            height: 152px;
            color: $black;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $beige-200;
            background-color: $beige-100;
            transition: all 0.3s ease;
            cursor: pointer;
            outline: none;
            resize: none;

            &:focus {
                border: 1px solid $gray-300;
            }
        }
    }

    &__radio {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
    }

    &__radio-container {
        margin-top: 8px;
        display: flex;
        gap: 31px;
        width: 100%;
        align-items: center;
    }

    &__radio-item {
        display: flex;
        gap: 11px;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        line-height: 28.4px;
        text-align: left;
    }

    &__radio-btn {
        width: 26px;
        height: 26px;
        border: 2px solid $black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        color: $black;
        appearance: none;

        &:checked::before {
            content: "";
            width: 12px;
            height: 12px;
            background-color: $black;
            border-radius: 50%;
            border: none;
            outline: none;
        }
    }

    &__checkbox-input {
        display: flex;
        align-items: center;
        justify-content: center;
        appearance: none;
        outline: none;
        border: 2px solid $black;
        position: relative;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        cursor: pointer;

        &:checked::before {
            position: absolute;
            content: "";
            width: 12.24px;
            height: 7.12px;
            top: 4px;
            left: 4px;
            border-color: $black;
            border-bottom: 2px solid;
            border-left: 2px solid;
            transform: rotate(-45deg);
        }
    }

    &__checkbox {
        margin-top: 34px;
        display: flex;
        align-items: center;
        gap: 19px;


        p {
            @include p-small($gray-300);
        }

        a {
            @include p-small($black);
            cursor: pointer;
        }
    }

    &__buttons {
        margin-top: 33px;
        display: flex;
        gap: 30px;
    }

    &__button-search {
        @include big-button($white, $green-400, $green-300, $green-200);
    }

    &__button-reset {
        @include big-button($green-400, $green-100, $gray-100, $gray-200);
    }

    @media screen and (max-width: 1024px) {
        &__wrap {
            width: 798px;
            padding: 60px;
        }
        &__inputs {
            gap: 20px;
        }
        &__input {
            input,
            select {
                max-width: 389px;
            }
        }
    }

    @media screen and (max-width: 360px) {
        margin-top: 75px;

        &__header {
            h2 {
                @include h2-m;
                margin-bottom: 20px;
            }
            p {
                @include p-normal-m;
                color: $gray-300;
            }
        }
        &__wrap {
            margin: 0 auto;
            margin-top: 40px;
            padding: 20px 20px 40px 20px;
            border-radius: 30px;
            width: 278px;
        }
        &__inputs {
            grid-template-columns: 1fr;
            width: 278px;
            gap: 30px;

            label {
                @include p-normal-m;
                color: $black;
            }

            img {
                top: 41px;
                right: 10px;
            }
        }
        &__input {
            input,
            select {
                @include p-normal-m;
                color: $black;
                padding: 10px;
                border-radius: 10px;
            }
        }

        &__texarea {
            width: 278px;

            label,
            textarea {
                @include p-normal-m;
                color: $black;
            }

            textarea {
                height: 132px;
                border-radius: 10px;
                padding: 10px;
            }
        }

        &__footer {
            max-width: 278px;
            gap: 30px;
        }

        &__radio {
            margin-top: 30px;

            label {
                @include p-normal-m;
                color: $black;
            }
        }

        &__radio-btn {
                height: 20px ;
                width: 20px;
                &:checked::before {
                    width: 10px;
                    height: 10px;
                }
        }

        &__checkbox {
            gap: 10px;
            align-items: start;

            p {
                @include p-normal-m;
                color: $gray-300;
            }
            span {
                @include p-normal-m;
            }
        }

        &__checkbox-input {
            width: 38px;
            height: 20px;

            &:checked::before {
                width: 9.24px;
                height: 5.12px;
                top: 20%;
                left: 20%;
            }
        }

        &__buttons {
            gap: 10px;
        }

        &__button-search, &__button-reset {
            font-size: 16px;
            font-weight: 400;
            line-height: 22.72px;
            border-radius: 10px;
            padding: 15px 30px;

        }
    }
}
