.form {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px 0 20px;

    &__header {
        width: 458px;
        margin: auto;
    }

    &__title {
        @include h2;
        margin-bottom: 30px;
    }

    &__description {
        @include p-normal;
        color: $gray-300;
        text-align: center;
        width: 400px;
        margin: auto;
    }

    &__wrap {
        margin: 0 auto;
        margin-top: 99px;
        background-color: $white;
        border-radius: 50px;
        width: 1170px;
        height: 986px;
    }

    &__label {
        @include p-normal;
        color: $black;
    }

    &__inputs {
        padding: 71px 70px 0 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 33px 30px;
    }

    &__input {
        position: relative;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__select-icon {
        position: absolute;
        top: 57px;
        right: 21px;
        width: 26px;
        height: 26px;
        background-image: url(/yourtour/assets/icons/ic-dropdown.svg);
        cursor: pointer;
        pointer-events: none;
    }

    &__input-field,
    &__select {
        @include p-normal;
        font-family: "Roboto";
        font-style: normal;
        appearance: none;
        color: $black;
        padding: 19px;
        border-radius: 10px;
        border: 1px solid $beige-200;
        background-color: $beige-100;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            background-color: $beige-200;
        }
        &:focus {
            border: 1px solid $gray-300;
        }
        option {
            color: $black;
        }
    }



    &__select-placeholder {
        color: $gray-300;
    }

    &__option-placeholder {
        color: $gray-300;
    }



    &__textarea {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        width: 1030px;
        height: 188px;
        gap: 8px;
        padding: 0 70px;
    }

    &__textarea-field {
        @include p-normal;
        font-family: Roboto;
        height: 152px;
        color: $black;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $beige-200;
        background-color: $beige-100;
        transition: all 0.3s ease;
        cursor: pointer;
        outline: none;
        resize: none;

        &:focus {
            border: 1px solid $gray-300;
        }
    }

    &__label {
        @include p-normal;
        color: $black;
    }

    &__radio {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }

    &__radio-container {
        margin-top: 7px;
        display: flex;
        gap: 31px;
        align-items: center;
    }

    &__radio-item {
        display: flex;
        gap: 11px;
        align-items: center;
        justify-content: left;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        line-height: 28.4px;
    }

    &__radio-btn {
        margin: 0;
        width: 26px;
        height: 26px;
        border: 2px solid $black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        color: $black;
        appearance: none;

        &:checked::before {
            content: "";
            width: 12px;
            height: 12px;
            background-color: $black;
            border-radius: 50%;
            border: none;
            outline: none;
        }
    }

    &__checkbox-input {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        appearance: none;
        outline: none;
        border: 2px solid $black;
        position: relative;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        cursor: pointer;

        &:checked::before {
            position: absolute;
            content: "";
            width: 12.24px;
            height: 7.12px;
            top: 4px;
            left: 4px;
            border-color: $black;
            border-bottom: 2px solid;
            border-left: 2px solid;
            transform: rotate(-45deg);
        }
    }

    &__checkbox {
        margin-top: 33px;
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__checkbox-label {
        @include p-small($gray-300);
    }

    &__checkbox-link {
        @include p-small($black);
        cursor: pointer;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__buttons {
        margin-top: 33px;
        display: flex;
        gap: 30px;
    }

    &__button-search {
        @include big-button($white, $green-400, $green-300, $green-200);
    }

    &__button-reset {
        @include big-button($green-400, $green-100, $gray-100, $gray-200);
    }

    @media screen and (max-width: 1024px) {
        &__wrap {
            width: 798px;
            height: 845px;
            padding: 61px;
        }
        &__inputs {
            gap: 20px;
            row-gap: 33px;
        }
        &__input {
            max-width: 389px;
        }
        &__textarea,
        .form__inputs,
        .form__radio {
            padding: 0;
        }
        &__checkbox {
            gap: 11px;
        }
    }

    @media screen and (max-width: 360px) {
        &__header {
            width: 318px;
            height: 104px;
        }

        &__title {
            @include h2-m;
            margin-bottom: 20px;
        }

        &__description {
            @include p-normal-m;
            color: $gray-300;
            width: 318px;

        }

        &__wrap {
            margin: 0 auto;
            margin-top: 39px;
            padding: 20px;
            border-radius: 30px;
            width: 278px;
            height: 1070px;
        }
        &__inputs {
            gap: 30px;
            height: 599px;
        }

        &__input {
            width: 278px;
            height: 74px;
        }



        &__select-icon {
            top: 41px;
            right: 10px;
        }

        &__input-field,
        .form__select {
            @include p-normal-m;
            color: $black;
            padding: 9px;
            border-radius: 10px;
            height: 46px;
        }

        &__textarea {
            margin-top: 28px;
            height: 163px;
            width: 278px;
        }

        &__textarea-field {
            @include p-normal-m;
            color: $black;
            border-radius: 10px;
            padding: 10px;
        }

        &__footer {
            max-width: 278px;
            gap: 30px;
        }

        &__radio {
            margin-top: 30px;
        }

        &__radio-item {
            @include p-normal-m;
            color: $black;
            gap: 10px;
        }

        &__radio-container {
            gap: 30px;
         }

        &__radio-btn {
            height: 20px;
            width: 20px;

            &:checked::before {
                width: 10px;
                height: 10px;
            }
        }

        &__checkbox {
            margin-top: 31px;
            gap: 10px;
            align-items: start;
            width: 278px;
        }

        &__checkbox-label {
            @include p-normal-m;
            color: $gray-300;
        }

        &__checkbox-link {
            @include p-normal-m;
            color: $black;
        }

        &__checkbox-input {
            width: 35px;
            height: 20px;

            &:checked::before {
                width: 9.24px;
                height: 5.12px;
                top: 20%;
                left: 20%;
            }
        }

        &__label {
            @include p-normal-m;
            color: $black;
        }

        &__buttons {
            margin-top: 30px;
            gap: 10px;
        }

        .form__button-search,
        .form__button-reset {
            width: 134px;
            height: 47px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.72px;
            border-radius: 10px;
            padding: 12px 29.5px;
        }
    }
}
