.hero {
    position: relative;
    height: 831px;
    background-image: url("/assets/img/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        padding: 0 20px 0 20px;
        padding-top: 207px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    &__title {
        @include h1;
        color: $white;
        width: 768px;
        height: 315px;
        text-align: center;
    }

    &__subtitle {
        @include p-normal;
        text-align: center;
        width: 562px;
        height: 56px;
    }

    &__button {
        @include p-small($black);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 118px;
        height: 34px;
        border: none;
        background-color: $white;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: $orange-200;
            color: white;
        }
        &:active {
            background-color: $orange-100;
        }
    }

    @media screen and (max-width: 1024px) {
        background-image: url(/assets/img/header-image-small.jpg);

        &__subtitle {
            max-width: 400px;
        }
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        height: 488px;

        &__content {
            padding: 0;
            width: 100%;
            padding-top: 141px;
            gap: 40px;
        }

        &__title {
            @include h1-m;
            color: $white;
            width: 310px;
            height: 114px;
        }

        &__subtitle {
            @include p-normal-m;
            width: 310px;
        }

        &__button {
            @include p-small-m;
            margin-top: 12px;
        }
    }
}
