.hero {
    position: relative;
    height: 831px;
    background-image: url("/assets/img/header-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        padding-top: 207px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    &__title {
        @include h1;
        color: $white;
        width: 768px;
        height: 315px;
        text-align: center;
    }

    &__subtitle {
        @include p-normal;
        text-align: center;
        width: 562px;
        height: 56px;
    }

    &__button {
        @include p-small($black);
            border-radius: 10px;
            padding: 5px 20px;
            border: none;
            background-color: $white;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: $orange-200;
                color: white;
            }
            &:active {
                background-color: $orange-100;
            }
    }



    @media screen and (max-width: 1024px) {
        background-image: url(/yourtour/assets/img/header-small.jpg);
        .header {
            &__wrap {
                max-width: 910px;
                ul {
                    gap: 30px;
                }
            }
        }
        .content {
            &__info {
                max-width: 442px;
            }
        }
    }

    @media screen and (max-width: 360px) {
        pointer-events: none;
        height: 488px;
        .header {
            &__wrap {
                max-width: 320px;
                svg {
                    width: 133px;
                    height: 22px;
                }
                p {
                    @include p-normal-m;
                }
                ul {
                    display: none;
                }
            }
        }
        .content {
            padding-top: 52px;
            gap: 40px;
            &__info {
                max-width: 310px;
            }
            h1 {
                @include h1-m;
                color: $white;
            }
            p {
                @include p-normal-m;
            }
        }
    }
}
