.photos {
    max-width: fit-content;
    margin: 0 auto;

    &__title {
        margin: 0 auto;
        width: fit-content;
    }
    &__heading {
        @include h2;
    }

    &__description {
        margin: auto;
        @include p-normal;
        margin-top: 30px;
        color: $gray-300;
        text-align: center;
        width: 400px;
    }

    &__wrap {
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    &__group {
        display: flex;
        gap: 30px;
        height: 301px;
        width: 1860px;
    }

    &__group-photo {
        border-radius: 50px;
        background-position: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__group1-item,
    .photos__group3-item {
        width: 442.5px;
    }

    &__group2-item {
        width: 348px;
    }

    @media screen and (max-width: 1024px) {
        &__group {
            gap: 20px;
            width: 984px;
        }

        &__group1-item {
            width: 314.67px;
            &:nth-child(2) {
                display: none;
            }
        }

        &__group2-item {
            width: 231px;
            &:nth-child(3) {
                display: none;
            }
        }
        &__group3-item {
            width: 314.67px;
            &:nth-child(4) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 360px) {
        margin-top: 75px;

        &__title {
            h2 {
                @include h2-m;
            }

            p {
                @include p-normal-m;
                margin-top: 20px;
                color: $gray-300;
            }
        }

        &__wrap {
            margin-top: 50px;
            max-width: 318px;
            gap: 18px;
        }

        &__group1 {
            gap: 18px;

            img {
                width: 150px;
                height: 110px;
                border-radius: 20px;
                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &__group2 {
            gap: 10px;

            img {
                width: 99.33px;
                height: 110px;
                border-radius: 20px;
                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &__group3 {
            gap: 10px;

            img {
                width: 154px;
                height: 110px;
                border-radius: 20px;
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }
}
