.photos {
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 135px;

    &__title {
        h2 {
            @include h2;
        }

        p {
            @include p-normal;
            margin-top: 30px;
            color: $gray-300;
            text-align: center;
        }
    }

    &__wrap {
        margin-top: 100px;
        display: flex;
        gap: 30px;
        flex-direction: column;

        img {
            object-fit: cover;
        }
    }

    &__group1 {
        display: flex;
        gap: 30px;

        img {
            width: 398.25px;
            height: 301px;
            border-radius: 50px;
        }
    }

    &__group2 {
        display: flex;
        gap: 30px;

        img {

            width: 312.6px;
            height: 301px;
            border-radius: 50px;

        }
    }

    &__group3 {
        display: flex;
        gap: 30px;

        img {
            width: 398.25px;
            height: 301px;
            border-radius: 50px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__group1 {
            gap: 20px;

            img {
                width: 314.67px;
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        &__group2 {
            gap: 20px;

            img {
                width: 231px;
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &__group3 {
            gap: 20px;
            img {
                width: 314.67px;
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }
}
