.story {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 20px 0 20px;

    @media screen and (max-width: 640px) {
        max-width: 318px;
        pointer-events: none;
    }

    &__button-icon {
        width: 24px;
        height: 26px;
        background: url(/yourtour/assets/icons/arrow\ bt.svg);
    }

    &__button-more {
        @include p-big($white);
        background-color: inherit;
        border: none;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        border-radius: 50px;
        letter-spacing: -0.5px;
        gap: 14px;
        transition: all 0.3s ease;
        cursor: pointer;

        @media screen and (max-width: 640px) {
            @include p-big-m;
            padding: 0;
        }
    }
}