.story__description {
    width: 400px;
    margin: auto;
    text-align: center;
    @include p-normal();
    margin-top: 30px;
    color: $gray-300;

    @media screen and (max-width: 640px) {
        margin-top: 18px;
        max-width: 318px;
        @include p-normal-m();
        color: $gray-300;
    }
}
