.form__wrap {
    margin: 100px auto 0;
    width: min(calc(100% - 106px), 1170px);
    height: 986px;
    background-color: $white;
    border-radius: 50px;

    @media screen and (max-width: 1024px) {
        height: auto;
        padding-bottom: 60px;
    }

    @media screen and (max-width: 470px) {
        margin: 39px auto 0;
        padding: 20px;
        width: 278px;
        height: 1070px;
        border-radius: 30px;
    }
}
