.header__logo {
    width: 182.84px;
    height: 33.24px;
    background: url(/yourtour/assets/icons/YourTour.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    @media screen and (max-width: 800px) {
        width: 133px;
        height: 22px;
        background: url(/yourtour/assets/icons/YourTour-small.svg);
    }

    .scroll & {
        background: url(/yourtour/assets/icons/YourTour-black.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (max-width: 400px) {
            width: 133px;
            height: 22px;
            background: url(/yourtour/assets/icons/YourTour-small-black.svg);
        }
    }
}
