.header {
    position: absolute;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.3s ease-in-out;

    &__wrap {
        padding: 0 20px 0 20px;
        height: 32px;
        width: 1168px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 182px;
        height: 32px;
        background: url(/yourtour/assets/icons/YourTour.svg);
    }

    &__nav-list {
        display: flex;
        gap: 50px;
    }

    &__phone-link {
        all: unset;
    }

    &__nav-link,
    &__phone {
        position: relative;
        text-decoration: none;
        cursor: pointer;
        @include p-normal;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 1px;
            background-color: $white;
            transition: width 0.5s;
        }

        &:hover:after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 1px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__wrap {
            max-width: 910px;
        }

        &__nav-list {
            gap: 30px;
        }
    }

    @media screen and (max-width: 800px) {
        &__nav-list {
            display: none;
        }
    }

    @media screen and (max-width: 390px) {
        &__wrap {
            max-width: 320px;
        }

        &__phone {
            @include p-normal-m;
        }

        &__logo {
            width: 133px;
            height: 25px;
            background: url(/yourtour/assets/icons/YourTour-small.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.scroll {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#f3efe8, 0.6);
    backdrop-filter: blur(20px);
    z-index: 999;
    animation: scroll 0.5s forwards;

    @keyframes scroll {
        0% {
            top: -100%;
        }
        100% {
            top: 0;
        }
    }

    .header__logo {
        background: url(/yourtour/assets/icons/YourTour-black.svg);
    }

    .header__nav-link,
    .header__phone {
        @include p-normal;
        color: $black;

        &:after {
            background-color: $black;
        }
    }

    @media screen and (max-width: 360px) {
        .header__phone {
            @include p-normal-m;
            color: $black;
        }

        .header__logo {
            background: url(/yourtour/assets/icons/YourTour-small-black.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}
