.gallery__group1,
.gallery__group2,
.gallery__group3 {
    display: flex;
    gap: 30px;
    height: 301px;
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        gap: 20px;
        width: calc(100% - 0px);
    }

    @media screen and (max-width: 600px) {
        height: 200px;
    }

    @media screen and (max-width: 400px) {
        gap: 18px;
        height: 110px;
        width: 318px;
    }
}

.gallery__group2,
.gallery__group3 {
    @media screen and (max-width: 400px) {
        gap: 10px;
    }
}
