.gallery__group1,
.gallery__group2,
.gallery__group3 {
    margin: 0 auto;
    height: 301px;
    width: 100%;
    max-width: 1860px;
    display: flex;
    gap: 30px;

    @media screen and (max-width: 1024px) {
        width: calc(100% - 0px);
        gap: 20px;
    }

    @media screen and (max-width: 763px) {
        height: 250px;
        gap: 15px;
    }

    @media screen and (max-width: 600px) {
        height: 200px;
    }

    @media screen and (max-width: 400px) {
        height: 110px;
        width: 318px;
        gap: 18px;
    }
}

.gallery__group2,
.gallery__group3 {
    @media screen and (max-width: 400px) {
        gap: 10px;
    }
}
