@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*Basic style*/
body {
  font-family: "Roboto";
  background-color: #F9F7F4;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 135px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.header__wrap {
  height: 32px;
  width: 1168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  gap: 50px;
}
.header__nav-item a, .header__phone a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
}
.header__nav-item a:after, .header__phone a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #FFF;
  transition: width 0.5s;
}
.header__nav-item a:hover:after, .header__phone a:hover:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(20px);
  z-index: 999;
}
.scroll .header__logo {
  filter: brightness(0) saturate(100%) invert(12%) sepia(18%) saturate(1366%) hue-rotate(201deg) brightness(97%) contrast(97%);
}
.scroll .header__wrap a {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #1B1F2B;
}
.scroll .header__wrap a:after {
  background-color: #1B1F2B;
}

.hero {
  position: relative;
  height: 831px;
  background-image: url("/assets/img/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__content {
  padding-top: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.hero__title {
  font-weight: 700;
  font-size: 96px;
  color: #1B1F2B;
  line-height: 104.64px;
  letter-spacing: 1.92px;
  text-align: center;
  color: #FFF;
  width: 768px;
  height: 315px;
  text-align: center;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  text-align: center;
  width: 562px;
  height: 56px;
}
.hero__button {
  font-weight: 400;
  font-size: 17px;
  color: #1B1F2B;
  line-height: 24.14px;
  letter-spacing: -0.17px;
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  background-color: #FFF;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero__button:hover {
  background-color: #EFA501;
  color: white;
}
.hero__button:active {
  background-color: #F8E6BE;
}
@media screen and (max-width: 1024px) {
  .hero {
    background-image: url(/yourtour/assets/img/header-image-small.jpg);
  }
  .hero .header__wrap {
    max-width: 910px;
  }
  .hero .header__wrap ul {
    gap: 30px;
  }
  .hero .content__info {
    max-width: 442px;
  }
}
@media screen and (max-width: 360px) {
  .hero {
    pointer-events: none;
    height: 488px;
  }
  .hero .header__wrap {
    max-width: 320px;
  }
  .hero .header__wrap svg {
    width: 133px;
    height: 22px;
  }
  .hero .header__wrap p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
  }
  .hero .header__wrap ul {
    display: none;
  }
  .hero .content {
    padding-top: 52px;
    gap: 40px;
  }
  .hero .content__info {
    max-width: 310px;
  }
  .hero .content h1 {
    font-weight: 700;
    font-size: 34px;
    color: #1B1F2B;
    line-height: 38.08px;
    letter-spacing: 1.92px;
    text-align: center;
    color: #FFF;
  }
  .hero .content p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
  }
}

.category {
  max-width: fit-content;
  margin: 0 auto;
}
.category__title {
  font-weight: 700;
  font-size: 59px;
  color: #1B1F2B;
  line-height: 73.16px;
  text-align: center;
  margin-bottom: 35px;
}
.category__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.category__link-item {
  font-weight: 700;
  font-size: 23px;
  color: #1B1F2B;
  line-height: 28.06px;
  text-decoration: none;
}
.category__link-item:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #1B1F2B;
}
.category__link-active .category__link-item {
  color: #EFA501;
  padding-bottom: 3px;
  border-bottom: 2px solid #EFA501;
}
.category__link-active .category__link-item:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #EFA501;
}
.category__content {
  margin-top: 106px;
  width: 1170px;
  height: 1092px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.category__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 531px;
  width: 370px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.category__item:hover .category__item-image {
  transform: scale(1.2);
}
.category__item:hover .category__button-more {
  background-color: #286562;
}
.category__item:active .category__button-more {
  background-color: #EFA501;
}
.category__info {
  padding: 50px 50px 0 50px;
  width: 200px;
  height: 126px;
}
.category__item-title {
  font-weight: 500;
  font-size: 35px;
  color: #1B1F2B;
  line-height: 42.7px;
  text-align: center;
  text-align: start;
  color: #FFF;
}
.category__item-price {
  font-weight: 400;
  font-size: 17px;
  color: #FFF;
  line-height: 24.14px;
  letter-spacing: -0.17px;
  margin-top: 16px;
}
.category__footer {
  padding: 30px;
  margin-bottom: 12px;
}
.category__button-more {
  font-weight: 700;
  font-size: 22px;
  color: #FFF;
  line-height: 28.06px;
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  border-radius: 50px;
  gap: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.category__item-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .category__content {
    grid-template-rows: repeat(3, 531px);
    grid-template-columns: repeat(2, 450px);
    gap: 18px;
  }
}
@media screen and (max-width: 360px) {
  .category {
    padding-top: 75px;
    pointer-events: none;
  }
  .category__header h2 {
    font-weight: 700;
    font-size: 34px;
    color: #1B1F2B;
    line-height: 38.08px;
    letter-spacing: 1.92px;
    text-align: center;
  }
  .category__header a {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
  }
  .category__header ul {
    max-width: 277px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .category__content {
    margin-top: 50px;
    grid-template-rows: repeat(6, 318px);
    grid-template-columns: repeat(1, 318px);
  }
  .category__content h3 {
    font-weight: 700;
    font-size: 23px;
    color: #1B1F2B;
    line-height: 27.6px;
    letter-spacing: 4px;
    text-align: center;
    text-align: start;
    color: #FFF;
  }
  .category__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: -0.17px;
  }
  .category__item {
    border-radius: 20px;
  }
  .category__info, .category__footer {
    padding: 25px;
    margin-bottom: 0px;
  }
  .category__button button {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
    padding: 0;
  }
}

.form {
  max-width: 1170px;
  margin: 0 auto;
}
.form__header {
  width: 458px;
  margin: auto;
}
.form__title {
  font-weight: 700;
  font-size: 59px;
  color: #1B1F2B;
  line-height: 73.16px;
  text-align: center;
  margin-bottom: 30px;
}
.form__description {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #A6A6A6;
  text-align: center;
  width: 400px;
  margin: auto;
}
.form__wrap {
  margin: 0 auto;
  margin-top: 99px;
  background-color: #FFF;
  border-radius: 50px;
  width: 1170px;
  height: 986px;
}
.form__label {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #1B1F2B;
}
.form__inputs {
  display: grid;
  padding: 71px 70px 0 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px 30px;
}
.form__input {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__select-icon {
  position: absolute;
  top: 57px;
  right: 21px;
  width: 26px;
  height: 26px;
  background-image: url(/assets/icons/ic-dropdown.svg);
  cursor: pointer;
  pointer-events: none;
}
.form__input-field,
.form .form__select {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  font-family: "Roboto";
  font-style: normal;
  appearance: none;
  color: #1B1F2B;
  padding: 19px;
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background-color: #F9F7F4;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form__input-field:hover,
.form .form__select:hover {
  background-color: #F4F0E9;
}
.form__input-field:focus,
.form .form__select:focus {
  border: 1px solid #A6A6A6;
}
.form__select-placeholder {
  color: #A6A6A6;
}
.form__select {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #1B1F2B;
  appearance: none;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background-color: #F9F7F4;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form__select:hover {
  background-color: #F4F0E9;
}
.form__select:focus {
  border: 1px solid #A6A6A6;
}
.form__textarea {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  width: 1030px;
  height: 188px;
  gap: 8px;
  padding: 0 70px;
}
.form__textarea-field {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  font-family: Roboto;
  height: 152px;
  color: #1B1F2B;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background-color: #F9F7F4;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  resize: none;
}
.form__textarea-field:focus {
  border: 1px solid #A6A6A6;
}
.form__label {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #1B1F2B;
}
.form__radio {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}
.form__radio-container {
  margin-top: 7px;
  display: flex;
  gap: 31px;
  align-items: center;
}
.form__radio-item {
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
.form__radio-btn {
  margin: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: #1B1F2B;
  appearance: none;
}
.form__radio-btn:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #1B1F2B;
  border-radius: 50%;
  border: none;
  outline: none;
}
.form__checkbox-input {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;
  border: 2px solid #1B1F2B;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;
}
.form__checkbox-input:checked::before {
  position: absolute;
  content: "";
  width: 12.24px;
  height: 7.12px;
  top: 4px;
  left: 4px;
  border-color: #1B1F2B;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
}
.form__checkbox {
  margin-top: 33px;
  display: flex;
  align-items: center;
  gap: 19px;
}
.form__checkbox-label {
  font-weight: 400;
  font-size: 17px;
  color: #A6A6A6;
  line-height: 24.14px;
  letter-spacing: -0.17px;
}
.form__checkbox-link {
  font-weight: 400;
  font-size: 17px;
  color: #1B1F2B;
  line-height: 24.14px;
  letter-spacing: -0.17px;
  cursor: pointer;
  text-decoration: none;
}
.form__checkbox-link:hover {
  text-decoration: underline;
}
.form__buttons {
  margin-top: 33px;
  display: flex;
  gap: 30px;
}
.form__button-search {
  width: 235px;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  color: #FFF;
  background-color: #286562;
  line-height: 28.4px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form__button-search:hover {
  background-color: #3B7E7B;
}
.form__button-search:active {
  background-color: #627F7E;
}
.form__button-reset {
  width: 235px;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  color: #286562;
  background-color: #E0F0E5;
  line-height: 28.4px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form__button-reset:hover {
  background-color: #F1F3F2;
}
.form__button-reset:active {
  background-color: #D9DFDB;
}
@media screen and (max-width: 1024px) {
  .form__wrap {
    width: 798px;
    padding: 60px;
  }
  .form__inputs {
    gap: 20px;
  }
  .form__input input,
  .form__input select {
    max-width: 389px;
  }
}
@media screen and (max-width: 360px) {
  .form {
    margin-top: 75px;
  }
  .form__header h2 {
    font-weight: 700;
    font-size: 34px;
    color: #1B1F2B;
    line-height: 38.08px;
    letter-spacing: 1.92px;
    text-align: center;
    margin-bottom: 20px;
  }
  .form__header p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #A6A6A6;
  }
  .form__wrap {
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
    width: 278px;
  }
  .form__inputs {
    grid-template-columns: 1fr;
    width: 278px;
    gap: 30px;
  }
  .form__inputs label {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #1B1F2B;
  }
  .form__inputs img {
    top: 41px;
    right: 10px;
  }
  .form__input input,
  .form__input select {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #1B1F2B;
    padding: 10px;
    border-radius: 10px;
  }
  .form__texarea {
    width: 278px;
  }
  .form__texarea label,
  .form__texarea textarea {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #1B1F2B;
  }
  .form__texarea textarea {
    height: 132px;
    border-radius: 10px;
    padding: 10px;
  }
  .form__footer {
    max-width: 278px;
    gap: 30px;
  }
  .form__radio {
    margin-top: 30px;
  }
  .form__radio label {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #1B1F2B;
  }
  .form__radio-btn {
    height: 20px;
    width: 20px;
  }
  .form__radio-btn:checked::before {
    width: 10px;
    height: 10px;
  }
  .form__checkbox {
    gap: 10px;
    align-items: start;
  }
  .form__checkbox p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #A6A6A6;
  }
  .form__checkbox span {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
  }
  .form__checkbox-input {
    width: 38px;
    height: 20px;
  }
  .form__checkbox-input:checked::before {
    width: 9.24px;
    height: 5.12px;
    top: 20%;
    left: 20%;
  }
  .form__buttons {
    gap: 10px;
  }
  .form__button-search, .form__button-reset {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    border-radius: 10px;
    padding: 15px 30px;
  }
}

.comments {
  margin: 0 auto;
  max-width: 1170px;
}
.comments__title {
  margin: 0 auto;
  width: fit-content;
}
.comments__heading {
  font-weight: 700;
  font-size: 59px;
  color: #1B1F2B;
  line-height: 73.16px;
  text-align: center;
  width: 529px;
}
.comments__description {
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #A6A6A6;
  text-align: center;
  margin-top: 30px;
  width: 400px;
}
.comments__wrap {
  margin-top: 100px;
  display: flex;
  gap: 30px;
}
.comments__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  height: 593px;
  border-radius: 50px;
  padding: 40px;
  background-color: #F4F0E9;
}
.comments__info {
  font-weight: 700;
  font-size: 23px;
  color: #1B1F2B;
  line-height: 28.06px;
}
.comments__profile {
  display: flex;
  justify-content: space-between;
}
.comments__profile-name {
  font-weight: 500;
  font-size: 35px;
  color: #1B1F2B;
  line-height: 42.7px;
  text-align: center;
  color: #1B1F2B;
  text-align: left;
}
.comments__profile-tour {
  font-weight: 400;
  font-size: 17px;
  color: #A6A6A6;
  line-height: 24.14px;
  letter-spacing: -0.17px;
  margin-top: 8px;
}
.comments__profile-image {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
@media screen and (max-width: 1024px) {
  .comments__wrap {
    gap: 18px;
  }
  .comments__info {
    max-width: 370px;
  }
  .comments__item {
    max-width: fit-content;
    height: 841px;
  }
}
@media screen and (max-width: 360px) {
  .comments {
    max-width: 318px;
    margin-top: 75px;
  }
  .comments__title h2 {
    font-weight: 700;
    font-size: 34px;
    color: #1B1F2B;
    line-height: 38.08px;
    letter-spacing: 1.92px;
    text-align: center;
  }
  .comments__title p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #A6A6A6;
    margin-top: 20px;
  }
  .comments__wrap {
    margin-top: 50px;
    max-width: 318px;
    flex-direction: column;
  }
  .comments__item {
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
  }
  .comments__info {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
  }
  .comments__profile {
    margin-top: 40px;
    align-items: end;
  }
  .comments__profile-info h3 {
    font-weight: 700;
    font-size: 23px;
    color: #1B1F2B;
    line-height: 27.6px;
    letter-spacing: 4px;
    text-align: center;
    text-align: start;
  }
  .comments__profile-info p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: -0.17px;
  }
}

.photos {
  max-width: fit-content;
  margin: 0 auto;
}
.photos__title {
  margin: 0 auto;
  width: fit-content;
}
.photos__heading {
  font-weight: 700;
  font-size: 59px;
  color: #1B1F2B;
  line-height: 73.16px;
  text-align: center;
}
.photos__description {
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  margin-top: 30px;
  color: #A6A6A6;
  text-align: center;
  width: 400px;
}
.photos__wrap {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.photos__group {
  display: flex;
  gap: 30px;
  height: 301px;
  width: 1860px;
}
.photos__group-photo {
  border-radius: 50px;
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photos__group1-item, .photos .photos__group3-item {
  width: 442.5px;
}
.photos__group2-item {
  width: 348px;
}
@media screen and (max-width: 1024px) {
  .photos__group1 {
    gap: 20px;
  }
  .photos__group1 img {
    width: 314.67px;
  }
  .photos__group1 img:nth-child(2) {
    display: none;
  }
  .photos__group2 {
    gap: 20px;
  }
  .photos__group2 img {
    width: 231px;
  }
  .photos__group2 img:nth-child(3) {
    display: none;
  }
  .photos__group3 {
    gap: 20px;
  }
  .photos__group3 img {
    width: 314.67px;
  }
  .photos__group3 img:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .photos {
    margin-top: 75px;
  }
  .photos__title h2 {
    font-weight: 700;
    font-size: 34px;
    color: #1B1F2B;
    line-height: 38.08px;
    letter-spacing: 1.92px;
    text-align: center;
  }
  .photos__title p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    margin-top: 20px;
    color: #A6A6A6;
  }
  .photos__wrap {
    margin-top: 50px;
    max-width: 318px;
    gap: 18px;
  }
  .photos__group1 {
    gap: 18px;
  }
  .photos__group1 img {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  .photos__group1 img:nth-child(2), .photos__group1 img:nth-child(3) {
    display: none;
  }
  .photos__group2 {
    gap: 10px;
  }
  .photos__group2 img {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
  }
  .photos__group2 img:nth-child(2), .photos__group2 img:nth-child(3) {
    display: none;
  }
  .photos__group3 {
    gap: 10px;
  }
  .photos__group3 img {
    width: 154px;
    height: 110px;
    border-radius: 20px;
  }
  .photos__group3 img:nth-child(3), .photos__group3 img:nth-child(4) {
    display: none;
  }
}

.story {
  max-width: fit-content;
  margin: 0 auto;
}
.story__title {
  margin: 0 auto;
  width: fit-content;
}
.story__heading {
  font-weight: 700;
  font-size: 59px;
  color: #1B1F2B;
  line-height: 73.16px;
  text-align: center;
}
.story__description {
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  margin-top: 30px;
  color: #A6A6A6;
  text-align: center;
  width: 400px;
}
.story__wrap {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.story__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 1170px;
  height: 567px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  overflow: hidden;
}
.story__item:hover .story__item-photo {
  transform: scale(1.2);
}
.story__item:hover .story__button-more {
  background-color: #286562;
}
.story__item:active .story__button-more {
  background-color: #EFA501;
  color: #FFF;
}
.story__item-photo {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.story__info {
  padding: 60px;
  max-width: 554px;
}
.story__item-title {
  font-weight: 500;
  font-size: 35px;
  color: #1B1F2B;
  line-height: 42.7px;
  text-align: center;
  color: #FFF;
  text-align: start;
}
.story__item-text {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  margin-top: 38px;
}
.story__item-list {
  margin-top: 29px;
  margin-left: 7px;
}
.story__item-list-item {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  padding-left: 5px;
}
.story__item-list-item::before {
  content: "•";
  float: left;
  padding: 0 11px 0 0;
}
.story__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 52px 40px;
}
.story__button-more {
  font-weight: 700;
  font-size: 23px;
  color: #FFF;
  line-height: 28.06px;
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  border-radius: 50px;
  gap: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.story__links-list {
  margin-right: 30px;
  display: flex;
  gap: 35px;
}
.story__link {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
}
.story__link:hover {
  text-decoration: underline;
}
.story__link:active {
  color: #EFA501;
}
@media screen and (max-width: 1024px) {
  .story__item {
    max-width: 918px;
  }
}
@media screen and (max-width: 360px) {
  .story {
    margin-top: 75px;
    max-width: 318px;
    pointer-events: none;
  }
  .story__wrap {
    margin-top: 50px;
    gap: 20px;
  }
  .story__title h2 {
    font-weight: 700;
    font-size: 34px;
    color: #1B1F2B;
    line-height: 38.08px;
    letter-spacing: 1.92px;
    text-align: center;
  }
  .story__title p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    margin-top: 20px;
    color: #A6A6A6;
  }
  .story__item {
    max-width: 318px;
    height: 455px;
    border-radius: 20px;
  }
  .story__info {
    padding: 30px;
    max-width: 263px;
  }
  .story__info h3 {
    font-weight: 700;
    font-size: 23px;
    color: #1B1F2B;
    line-height: 27.6px;
    letter-spacing: 4px;
    text-align: center;
    max-width: 200px;
    color: #FFF;
    text-align: start;
  }
  .story__info p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    margin-top: 20px;
  }
  .story__info li {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
  }
  .story__links {
    display: none;
  }
  .story__footer {
    padding: 30px;
  }
  .story__button button {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
    padding: 0;
  }
}

.contact {
  max-width: fit-content;
  margin: 0 auto;
}
.contact__wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contact__image {
  height: 370px;
  width: 370px;
  border-radius: 50px;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 371px;
}
.contact__info h3 {
  font-weight: 500;
  font-size: 35px;
  color: #1B1F2B;
  line-height: 42.7px;
  text-align: center;
  color: #1B1F2B;
  text-align: start;
}
.contact__info p {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #A6A6A6;
}
.contact__info a {
  color: #1B1F2B;
  cursor: pointer;
}
.contact__info a:hover {
  text-decoration: underline;
}
.contact__info a:active {
  color: #EFA501;
}
@media screen and (max-width: 360px) {
  .contact {
    pointer-events: none;
    margin-top: 75px;
  }
  .contact__wrap {
    flex-direction: column;
  }
  .contact__img {
    height: 133px;
    width: 130px;
  }
  .contact__info h3 {
    font-weight: 700;
    font-size: 23px;
    color: #1B1F2B;
    line-height: 27.6px;
    letter-spacing: 4px;
    text-align: center;
  }
  .contact__info p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #A6A6A6;
    text-align: center;
  }
}

.footer {
  margin-top: 135px;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F0E9;
}
.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1168px;
}
.footer__social p {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  color: #A6A6A6;
}
.footer__links {
  display: flex;
  gap: 25px;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.footer__link:active a {
  color: #EFA501;
}
.footer__link a {
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  line-height: 28px;
  position: relative;
  color: #1B1F2B;
  text-decoration: none;
}
.footer__link a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 0;
  height: 1px;
  background-color: #1B1F2B;
  transition: width 0.5s;
}
.footer__link a:hover:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 1px;
}
@media screen and (max-width: 1024px) {
  .footer__wrap {
    max-width: 918px;
  }
}
@media screen and (max-width: 360px) {
  .footer {
    margin-top: 75px;
    height: 95px;
    pointer-events: none;
  }
  .footer__wrap {
    max-width: 317px;
    flex-direction: column;
    gap: 7px;
  }
  .footer__social p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #A6A6A6;
  }
  .footer__links {
    gap: 15px;
  }
  .footer__link {
    gap: 5px;
  }
  .footer__link a {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    line-height: 22.72px;
    color: #1B1F2B;
  }
}

/*# sourceMappingURL=style.css.map */
